/*+====================================================+
    GENERAL
+====================================================+*/
body {
  background-color: #fff;
  text-rendering: optimizelegibility;
}
/*+====================================================+
    ICONS
+====================================================+*/
.iconleft {
  margin-right: 14px;
}
.iconright {
  margin-left: 14px;
}
.btn .iconleft {
  margin-right: 14px;
}
.btn .iconright {
  margin-right: 14px;
}
.btn-sm .iconleft,
.btn-xs .iconleft {
  margin-right: 6px;
}
.btn-sm .iconright,
.btn-xs .iconright {
  margin-right: 6px;
}
/*+====================================================+
    HEADER - NAV
+====================================================+*/
header {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 1030;
  background-color: #ffffff;
}
header .header-top {
  background-color: #31363c;
  height: 30px;
  position: relative;
  transition: all 0.3s ease-in-out;
  top: 0;
  display: block;
}
header .header-top .header-top-left ul.social-top {
  list-style: outside none none;
  padding-left: 0px;
}
header .header-top .header-top-left ul.social-top li {
  display: inline-block;
  border-right: 1px solid #42474c;
  opacity: 1;
  top: 0;
  height: 30px;
  transition: all 0.6s ease;
}
header .header-top .header-top-left ul.social-top li.border-blanco {
  border-right: 1px solid #31363c;
  opacity: 0;
  top: -30px;
  height: 0;
}
header .header-top .header-top-left ul.social-top li a {
  padding: 5px 12px;
  display: block;
  font-size: 14px;
  color: #c0c0c0;
}
header .header-top .header-top-left ul.social-top li a:hover {
  color: #d13d30;
}
header .header-top .header-top-right {
  float: right;
}
header .header-top .header-top-right ul.search-top {
  list-style: outside none none;
  padding-left: 0px;
  position: relative;
}
header .header-top .header-top-right ul.search-top li {
  display: inline-block;
  transition: all 0.6s ease;
  opacity: 1;
  position: relative;
  top: 0;
}
header .header-top .header-top-right ul.search-top li.search-up {
  opacity: 0;
  top: -30px;
}
header .header-top .header-top-right ul.search-top li a {
  background-color: #d13d30;
  padding: 5px 12px;
  display: block;
  font-size: 14px;
  color: #fff;
}
header .header-top .header-top-right ul.search-top li a:hover {
  color: #d13d30;
  background-color: #ffffff;
  text-decoration: none !important;
}
header .header-top .header-top-left,
header .header-top .header-top-right {
  display: inline-block;
}
header .header-up {
  top: -30px;
  height: 0;
}
header .navbar-up {
  top: 0px;
}
