@red: #d13d30;
@green: #66A590;
@yellow: #f2ca0d;
@gray: #393337;
@white: #fff;
@black: #333;
@text: #666;

/*+====================================================+
    ICONS
+====================================================+*/
.iconleft {
    margin-right: 14px;
}
.iconright {
    margin-left: 14px;
}
.btn {
    .iconleft {
        margin-right: 14px;
    }
    .iconright {
        margin-right: 14px;
    }
}
.btn-sm, .btn-xs {
    .iconleft {
        margin-right: 6px;
    }
    .iconright {
        margin-right: 6px;
    }
}
/*+====================================================+
    HEADER TOP
+====================================================+*/
header {
    position: fixed;
    top:0px;
    right: 0px;
    left: 0px;
    z-index: 1030;

}
.header-top {
    background-color: @gray;
    height: 30px;
    position: relative;
    transition: all 0.2s ease-in-out;
    top: 0;
}
.header-up {
    top: -30px;
    height: 0;
}
.navbar-up {
    top:0px;
}